* {
  text-align: center;
  margin: auto;
}
body {
  background-image: url("assets/fond.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
h2 {
  padding-bottom: 10px;
  color: rgb(255, 157, 91);
  margin-bottom: 10px;
}
#form {
  background-color: rgb(255, 255, 255);
  border: 7px inset rgb(255, 157, 91);
  border-radius: 15px;
  height: auto;
  width: 450px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  padding: 10px;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}

#restart {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 157, 91);
  cursor: pointer;
  padding: 4px 8px;
  line-height: 1.5;
  border: 7px inset rgb(255, 157, 91);
  border-radius: 5px;
  text-align: center;
  transition: 0.1s ease-in-out;
  margin-bottom: 10px;
}
